<!DOCTYPE html>
<html>
  <head>
    <title>HiiCiti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- in your index.html file -->

	<!-- dependencies - these should come BEFORE jToker -->
	<script src='/js/jquery/dist/jquery.js'></script>
	<script src='/js/jquery.cookie/jquery.cookie.js'></script>
	<script src='/js/jquery-deparam/jquery-deparam.js'></script>
	<script src='/js/pubsub-js/src/pubsub.js'></script>

	<!-- this should come AFTER the preceeding files -->
	<script src='/js/jquery.j-toker.js'></script>

	<!-- jToker will now be available at $.auth -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
